version: '3.7'

services:
  backend:
    build:
      context: .
      dockerfile: ./conf.d/backend/Dockerfile
    container_name: mhd_backend
#    network_mode: host

  app:
    build:
      context: .
      dockerfile: conf.d/my_health_diary/Dockerfile
    container_name: mhd_app
    restart: always
    depends_on:
      - backend
    ports:
      - 8090:8090
    volumes:
      - ./static/:/srv/app/static
      - ./media/:/srv/app/media
#      - ./database:/srv/app/database
      - /var/log/my_health_diary/:/srv/app/logs/
#    network_mode: host
